
@{
    ViewBag.Title = "Page8";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Page8</h2>
<p>ViewBag Result:Output is: @ViewBag.ot</p>
<p>ViewData Result:Output is: @ViewData["ot"]</p>
@*<p>ModelData Result:Output is: 
    @Html.DisplayFor(model => model.OutputNumber)</p>*@


