@model MVC_ProjectWork.Models.Mystudent

@{
    ViewBag.Title = "ChangePicture";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>ChangePicture</h2>


@using (Html.BeginForm("ChangePicture", "ProjectStudent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />

        @Html.HiddenFor(model => model.studentid)


        <div class="form-group">
            @Html.LabelFor(model => model.image_path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img height="80" width="80" src="/images/@Html.DisplayFor(model => model.image_path)" alt="No Picture" />
                <br />
                <input type="file" name="ImageFile" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
